<nav class="navegacion">
    <div class="navegacion__contenedor">
        <a href="index.html" class="navegacion__logo">
            <img src="images/logo.png" alt="Logo" height="50px">
        </a>

        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-icon">
            <i class="fas fa-bars"></i>
        </label>

        <div class="navegacion__menu">
            <ul id="lista-opciones">
                
            </ul>
        </div>
    </div>
</nav>